# =========================
# Godot 4+
# =========================
.godot/
.export/

# =========================
# Gradle / Kotlin / Java
# =========================
.gradle/
build/
*.kotlin_module

# =========================
# JVM spécifiques (Godot Kotlin)
# =========================
jre-arm64/
jre-amd64/
graal/

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# Logs & temporaires
# =========================
*.log
*.tmp

# =========================
# Android
# =========================
*.keystore
*.jks
local.properties
*.apk
*.aab

# =========================
# Système
# =========================
.DS_Store
Thumbs.db

# =========================
# Optionnel (attention usage)
# =========================
# src/main/resources/META-INF/services/